{% comment %} Pipeline verification marker: 2026-02-22 {% endcomment %}
<div class="progress-bar-container hidden">
  <div class="progress-bar">
    <div class="progress-bar-value"></div>
  </div>
</div>
